* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  background-color: aliceblue;
  font-family: cursive;
}
#instructions {
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.6rem;
  margin: 60px 0;
}
#instructions p {
  margin: 40px 0;
}
#container {
  height: 320px;
  max-width: 420px;
  background: #fff;
  border-radius: 10px;
  padding: 30px 25px;
  transition: height 0.2s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
#container.active {
  height: 600px;
}
.header h1 {
  font-size: 32px;
  font-weight: 600;
}
.header p {
  margin-top: 5px;
  color: #575757;
  font-size: 20px;
}
#container .inputBox {
  margin: 20px 0 25px;
}
.inputBox :where(input, button) {
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 6px;
  transition: 0.1s ease;
}
.inputBox input {
  font-size: 18px;
  padding: 0 16px;
  border: 1px solid #999;
}
.inputBox input:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}
.inputBox input::placeholder {
  color: #999;
}
.inputBox button {
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
  background: #3498db;
}
.qr-code {
  opacity: 0;
  display: flex;
  padding: 32px 0;
  border-radius: 5px;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  border: 1px solid #ccc;
}
#container.active .qr-code {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease;
}
.qr-code img {
  width: 180px;
}

@media (max-width: 425px) {
  #container {
    height: 280px;
    padding: 16px 20px;
  }
  #container.active {
    height: 520px;
  }
  #instructions {
    font-size: 1rem;
  }
  .header h1 {
    font-size: 24px;
  }
  .header p {
    color: #696969;
  }
  .inputBox :where(input, button) {
    height: 52px;
  }
  .qr-code img {
    width: 160px;
  }
}
